    <div class="snap-drawers">
        <!-- Left Sidebar -->
        <div class="snap-drawer snap-drawer-left">
            <a href="/" class="selected-item"><i class="fa fa-home"></i>Home</a>
            <a href="/features"><i class="fa fa-list"></i>特色</a>
            <a href="/sight"><i class="fa fa-picture-o"></i>门票</a>
            <a href="/visa"><i class="fa fa-globe"></i>签证</a>
            <a href="/blog"><i class="fa fa-pencil"></i>攻略</a>
            <a href="/contact.html"><i class="fa fa-envelope-o"></i>联系</a>
            <a href="/free"><i class="fa fa-flag"></i>自由行</a>
            <a href="/user"><i class="fa fa-users"></i>个人</a>
            <a href="#" class="show-share-bottom"><i class="fa fa-retweet"></i>分享</a>
            <a href="#" class="sidebar-close"><i class="fa fa-times"></i>Close</a>
        </div>
    </div>
